name: Build & Test SimpleLang Compiler

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile
      run: g++ main.cpp lexer.cpp parser.cpp codegen.cpp -o simplelang

    - name: Run
      run: ./simplelang
